.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0;
}

.frame {
    width: 70%;
    border-radius: 0.5rem;
}

.frame video {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: inherit;
}

@media (max-width: 600px) {
    .frame {
        width: 80%;
    }
}

@media (max-width: 500px) {
    .frame {
        width: 90%;
    }
}